alpineramfs.cpio
linux-firmware/
/linux-4.16-rc1/.32987.d
/linux-4.16-rc1/.cache.mk
/linux-4.16-rc1/.cocciconfig
/linux-4.16-rc1/.config.old
/linux-4.16-rc1/.get_maintainer.ignore
/linux-4.16-rc1/.gitattributes
/linux-4.16-rc1/.missing-syscalls.d
/linux-4.16-rc1/.tmp_System.map
/linux-4.16-rc1/.tmp_kallsyms1.S
/linux-4.16-rc1/.tmp_kallsyms1.o
/linux-4.16-rc1/.tmp_kallsyms2.S
/linux-4.16-rc1/.tmp_kallsyms2.o
/linux-4.16-rc1/.tmp_versions
/linux-4.16-rc1/.tmp_vmlinux1
/linux-4.16-rc1/.tmp_vmlinux2
/linux-4.16-rc1/.version
/linux-4.16-rc1/.vmlinux.cmd
/linux-4.16-rc1/COPYING
/linux-4.16-rc1/CREDITS
/linux-4.16-rc1/Documentation
/linux-4.16-rc1/Kbuild
/linux-4.16-rc1/Kconfig
/linux-4.16-rc1/LICENSES
/linux-4.16-rc1/MAINTAINERS
/linux-4.16-rc1/Makefile
/linux-4.16-rc1/Module.symvers
/linux-4.16-rc1/README
/linux-4.16-rc1/System.map
/linux-4.16-rc1/arch
/linux-4.16-rc1/block
/linux-4.16-rc1/built-in.o
/linux-4.16-rc1/certs
/linux-4.16-rc1/crypto
/linux-4.16-rc1/drivers
/linux-4.16-rc1/firmware
/linux-4.16-rc1/fs
/linux-4.16-rc1/include
/linux-4.16-rc1/init
/linux-4.16-rc1/ipc
/linux-4.16-rc1/kernel
/linux-4.16-rc1/kexec-purgatory.d
/linux-4.16-rc1/lib
/linux-4.16-rc1/mm
/linux-4.16-rc1/modules.builtin
/linux-4.16-rc1/modules.order
/linux-4.16-rc1/net
/linux-4.16-rc1/purgatory.d
/linux-4.16-rc1/samples
/linux-4.16-rc1/scripts
/linux-4.16-rc1/security
/linux-4.16-rc1/sound
/linux-4.16-rc1/tools
/linux-4.16-rc1/usr
/linux-4.16-rc1/virt
/linux-4.16-rc1/vmlinux
/linux-4.16-rc1/vmlinux.o
/linux-4.16-rc1/.*
/linux-4.16-rc1/*
/linux-4.16-rc1/*.*
!/linux-4.16-rc1/.config
/OneFileLinux.efi
